
<div *ngIf="pics">
    <h2><span jhiTranslate="aitpapiApp.pics.detail.title">Pics</span> {{pics.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aitpapiApp.pics.ossPath">Oss Path</span></dt>
        <dd>
            <span>{{pics.ossPath}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.pics.createTime">Create Time</span></dt>
        <dd>
            <span>{{pics.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.pics.fitnessActivity">Fitness Activity</span></dt>
        <dd>
            <div *ngIf="pics.fitnessActivity">
                <a [routerLink]="['/fitness-activity', pics.fitnessActivity?.id]">{{pics.fitnessActivity?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.pics.clockIn">Clock In</span></dt>
        <dd>
            <div *ngIf="pics.clockIn">
                <a [routerLink]="['/clock-in', pics.clockIn?.id]">{{pics.clockIn?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pics/'+ pics.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
