<div>
    <h2>
        <span jhiTranslate="aitpapiApp.clockIn.home.title">Clock Ins</span>
        <button class="btn btn-primary float-right jh-create-entity create-clock-in" [routerLink]="['/', { outlets: { popup: ['clock-in-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aitpapiApp.clockIn.home.createLabel">
            Create new Clock In
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clockIns">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="aitpapiApp.clockIn.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="signNote"><span jhiTranslate="aitpapiApp.clockIn.signNote">Sign Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="punchDateTime"><span jhiTranslate="aitpapiApp.clockIn.punchDateTime">Punch Date Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activityParticipation.id"><span jhiTranslate="aitpapiApp.clockIn.activityParticipation">Activity Participation</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clockIn of clockIns ;trackBy: trackId">
                <td><a [routerLink]="['../clock-in', clockIn.id ]">{{clockIn.id}}</a></td>
                <td>{{clockIn.title}}</td>
                <td>{{clockIn.signNote}}</td>
                <td>{{clockIn.punchDateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="clockIn.activityParticipation">
                        <a [routerLink]="['../activity-participation', clockIn.activityParticipation?.id ]" >{{clockIn.activityParticipation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../clock-in', clockIn.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clock-in/'+ clockIn.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clock-in/'+ clockIn.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clockIns && clockIns.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
