
<div *ngIf="follow">
    <h2><span jhiTranslate="aitpapiApp.follow.detail.title">Follow</span> {{follow.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aitpapiApp.follow.followUserId">Follow User Id</span></dt>
        <dd>
            <span>{{follow.followUserId}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.followUserNickname">Follow User Nickname</span></dt>
        <dd>
            <span>{{follow.followUserNickname}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.followUseravatar">Follow Useravatar</span></dt>
        <dd>
            <span>{{follow.followUseravatar}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.followedUserId">Followed User Id</span></dt>
        <dd>
            <span>{{follow.followedUserId}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.followedUserNickname">Followed User Nickname</span></dt>
        <dd>
            <span>{{follow.followedUserNickname}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.followedUseravatar">Followed Useravatar</span></dt>
        <dd>
            <span>{{follow.followedUseravatar}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.createTime">Create Time</span></dt>
        <dd>
            <span>{{follow.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.follow.modifyTime">Modify Time</span></dt>
        <dd>
            <span>{{follow.modifyTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'follow/'+ follow.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
