
<div *ngIf="recipe">
    <h2><span>Recipe</span> {{recipe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Wechat User Id</span></dt>
        <dd>
            <span>{{recipe.wechatUserId}}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <span>{{recipe.avatar}}</span>
        </dd>
        <dt><span>Nick Name</span></dt>
        <dd>
            <span>{{recipe.nickName}}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
            <span>{{recipe.title}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{recipe.content}}</span>
        </dd>
        <dt><span>Start Time</span></dt>
        <dd>
            <span>{{recipe.startTime | date:'medium'}}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
            <span>{{recipe.endTime | date:'medium'}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{recipe.price}}</span>
        </dd>
        <dt><span>Num</span></dt>
        <dd>
            <span>{{recipe.num}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{recipe.status}}</span>
        </dd>
        <dt><span>Publish Version</span></dt>
        <dd>
            <span>{{recipe.publishVersion}}</span>
        </dd>
        <dt><span>Hot</span></dt>
        <dd>
            <span>{{recipe.hot}}</span>
        </dd>
        <dt><span>Create Time</span></dt>
        <dd>
            <span>{{recipe.createTime | date:'medium'}}</span>
        </dd>
        <dt><span>Modify Time</span></dt>
        <dd>
            <span>{{recipe.modifyTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recipe/'+ recipe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
