<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWechatUserLabel">Create or edit a Wechat User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!wechatUser.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="wechatUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_openId">Open Id</label>
            <input type="text" class="form-control" name="openId" id="field_openId"
                [(ngModel)]="wechatUser.openId" required maxlength="255"/>
            <div [hidden]="!(editForm.controls.openId?.dirty && editForm.controls.openId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.openId?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.openId?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_wechatCode">Wechat Code</label>
            <input type="text" class="form-control" name="wechatCode" id="field_wechatCode"
                [(ngModel)]="wechatUser.wechatCode" maxlength="128"/>
            <div [hidden]="!(editForm.controls.wechatCode?.dirty && editForm.controls.wechatCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wechatCode?.errors?.maxlength">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                [(ngModel)]="wechatUser.userName" maxlength="128"/>
            <div [hidden]="!(editForm.controls.userName?.dirty && editForm.controls.userName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userName?.errors?.maxlength">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nickName">Nick Name</label>
            <input type="text" class="form-control" name="nickName" id="field_nickName"
                [(ngModel)]="wechatUser.nickName" maxlength="128"/>
            <div [hidden]="!(editForm.controls.nickName?.dirty && editForm.controls.nickName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickName?.errors?.maxlength">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_avatar">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                [(ngModel)]="wechatUser.avatar" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.avatar?.dirty && editForm.controls.avatar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.avatar?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mobileNum">Mobile Num</label>
            <input type="text" class="form-control" name="mobileNum" id="field_mobileNum"
                [(ngModel)]="wechatUser.mobileNum" maxlength="128"/>
            <div [hidden]="!(editForm.controls.mobileNum?.dirty && editForm.controls.mobileNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mobileNum?.errors?.maxlength">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_project">Project</label>
            <input type="text" class="form-control" name="project" id="field_project"
                [(ngModel)]="wechatUser.project" maxlength="128"/>
            <div [hidden]="!(editForm.controls.project?.dirty && editForm.controls.project?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.project?.errors?.maxlength">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_seat">Seat</label>
            <input type="text" class="form-control" name="seat" id="field_seat"
                [(ngModel)]="wechatUser.seat" maxlength="128"/>
            <div [hidden]="!(editForm.controls.seat?.dirty && editForm.controls.seat?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.seat?.errors?.maxlength">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_introduce">Introduce</label>
            <input type="text" class="form-control" name="introduce" id="field_introduce"
                [(ngModel)]="wechatUser.introduce" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.introduce?.dirty && editForm.controls.introduce?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.introduce?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sex">Sex</label>
            <input type="checkbox" class="form-control" name="sex" id="field_sex"
                [(ngModel)]="wechatUser.sex" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_companyRole">Company Role</label>
            <input type="text" class="form-control" name="companyRole" id="field_companyRole"
                [(ngModel)]="wechatUser.companyRole" maxlength="255"/>
            <div [hidden]="!(editForm.controls.companyRole?.dirty && editForm.controls.companyRole?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.companyRole?.errors?.maxlength">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cookFlag">Cook Flag</label>
            <input type="checkbox" class="form-control" name="cookFlag" id="field_cookFlag"
                [(ngModel)]="wechatUser.cookFlag" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_intesting">Intesting</label>
            <input type="text" class="form-control" name="intesting" id="field_intesting"
                [(ngModel)]="wechatUser.intesting" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.intesting?.dirty && editForm.controls.intesting?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.intesting?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_skill">Skill</label>
            <input type="text" class="form-control" name="skill" id="field_skill"
                [(ngModel)]="wechatUser.skill" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.skill?.dirty && editForm.controls.skill?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skill?.errors?.maxlength">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="wechatUser.createTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modifyTime">Modify Time</label>
            <div class="d-flex">
                <input id="field_modifyTime" type="datetime-local" class="form-control" name="modifyTime" [(ngModel)]="wechatUser.modifyTime"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
