
<div *ngIf="commentPic">
    <h2><span>Comment Pic</span> {{commentPic.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Oss Path</span></dt>
        <dd>
            <span>{{commentPic.ossPath}}</span>
        </dd>
        <dt><span>Create Time</span></dt>
        <dd>
            <span>{{commentPic.createTime | date:'medium'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <div *ngIf="commentPic.commentId">
                <a [routerLink]="['/comment', commentPic.commentId]">{{commentPic.commentId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment-pic/'+ commentPic.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
