<div>
    <h2>
        <span jhiTranslate="aitpapiApp.evaluate.home.title">Evaluates</span>
        <button class="btn btn-primary float-right jh-create-entity create-evaluate" [routerLink]="['/', { outlets: { popup: ['evaluate-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aitpapiApp.evaluate.home.createLabel">
            Create new Evaluate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="evaluates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentId"><span jhiTranslate="aitpapiApp.evaluate.parentId">Parent Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="aitpapiApp.evaluate.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tasteScore"><span jhiTranslate="aitpapiApp.evaluate.tasteScore">Taste Score</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceScore"><span jhiTranslate="aitpapiApp.evaluate.serviceScore">Service Score</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="aitpapiApp.evaluate.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="aitpapiApp.evaluate.modifyTime">Modify Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recipeOrderId"><span jhiTranslate="aitpapiApp.evaluate.recipeOrder">Recipe Order</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let evaluate of evaluates ;trackBy: trackId">
                <td><a [routerLink]="['../evaluate', evaluate.id ]">{{evaluate.id}}</a></td>
                <td>{{evaluate.parentId}}</td>
                <td>{{evaluate.content}}</td>
                <td>{{evaluate.tasteScore}}</td>
                <td>{{evaluate.serviceScore}}</td>
                <td>{{evaluate.createTime | date:'medium'}}</td>
                <td>{{evaluate.modifyTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="evaluate.recipeOrderId">
                        <a [routerLink]="['../recipe-order', evaluate.recipeOrderId  ]" >{{evaluate.recipeOrderId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../evaluate', evaluate.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'evaluate/'+ evaluate.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'evaluate/'+ evaluate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="evaluates && evaluates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
