
<div *ngIf="evaluate">
    <h2><span jhiTranslate="aitpapiApp.evaluate.detail.title">Evaluate</span> {{evaluate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aitpapiApp.evaluate.parentId">Parent Id</span></dt>
        <dd>
            <span>{{evaluate.parentId}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.evaluate.content">Content</span></dt>
        <dd>
            <span>{{evaluate.content}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.evaluate.tasteScore">Taste Score</span></dt>
        <dd>
            <span>{{evaluate.tasteScore}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.evaluate.serviceScore">Service Score</span></dt>
        <dd>
            <span>{{evaluate.serviceScore}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.evaluate.createTime">Create Time</span></dt>
        <dd>
            <span>{{evaluate.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.evaluate.modifyTime">Modify Time</span></dt>
        <dd>
            <span>{{evaluate.modifyTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.evaluate.recipeOrder">Recipe Order</span></dt>
        <dd>
            <div *ngIf="evaluate.recipeOrder">
                <a [routerLink]="['/recipe-order', evaluate.recipeOrder?.id]">{{evaluate.recipeOrder?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'evaluate/'+ evaluate.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
