<div>
    <h2>
        <span jhiTranslate="aitpapiApp.fitnessActivity.home.title">Fitness Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-fitness-activity" [routerLink]="['/', { outlets: { popup: ['fitness-activity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aitpapiApp.fitnessActivity.home.createLabel">
            Create new Fitness Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fitnessActivities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wechatUserId"><span jhiTranslate="aitpapiApp.fitnessActivity.wechatUserId">Wechat User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="aitpapiApp.fitnessActivity.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descrption"><span jhiTranslate="aitpapiApp.fitnessActivity.descrption">Descrption</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="signStartTime"><span jhiTranslate="aitpapiApp.fitnessActivity.signStartTime">Sign Start Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="signEndTime"><span jhiTranslate="aitpapiApp.fitnessActivity.signEndTime">Sign End Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activityStartTime"><span jhiTranslate="aitpapiApp.fitnessActivity.activityStartTime">Activity Start Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activityEndTime"><span jhiTranslate="aitpapiApp.fitnessActivity.activityEndTime">Activity End Time</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fitnessActivity of fitnessActivities ;trackBy: trackId">
                <td><a [routerLink]="['../fitness-activity', fitnessActivity.id ]">{{fitnessActivity.id}}</a></td>
                <td>{{fitnessActivity.wechatUserId}}</td>
                <td>{{fitnessActivity.title}}</td>
                <td>{{fitnessActivity.descrption}}</td>
                <td>{{fitnessActivity.signStartTime | date:'medium'}}</td>
                <td>{{fitnessActivity.signEndTime | date:'medium'}}</td>
                <td>{{fitnessActivity.activityStartTime | date:'medium'}}</td>
                <td>{{fitnessActivity.activityEndTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fitness-activity', fitnessActivity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fitness-activity/'+ fitnessActivity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fitness-activity/'+ fitnessActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="fitnessActivities && fitnessActivities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
