<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myActivityParticipationLabel" jhiTranslate="aitpapiApp.activityParticipation.home.createOrEditLabel">Create or edit a Activity Participation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!activityParticipation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="activityParticipation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.activityParticipation.wechatUserId" for="field_wechatUserId" [ngbTooltip]="'aitpapiApp.activityParticipation.help.wechatUserId' | translate">Wechat User Id</label>
            <input type="text" class="form-control" name="wechatUserId" id="field_wechatUserId"
                [(ngModel)]="activityParticipation.wechatUserId" maxlength="128"/>
            <div [hidden]="!(editForm.controls.wechatUserId?.dirty && editForm.controls.wechatUserId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wechatUserId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.activityParticipation.nickName" for="field_nickName" [ngbTooltip]="'aitpapiApp.activityParticipation.help.nickName' | translate">Nick Name</label>
            <input type="text" class="form-control" name="nickName" id="field_nickName"
                [(ngModel)]="activityParticipation.nickName" maxlength="128"/>
            <div [hidden]="!(editForm.controls.nickName?.dirty && editForm.controls.nickName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.activityParticipation.avatar" for="field_avatar" [ngbTooltip]="'aitpapiApp.activityParticipation.help.avatar' | translate">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                [(ngModel)]="activityParticipation.avatar" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.avatar?.dirty && editForm.controls.avatar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.avatar?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.activityParticipation.participationTime" for="field_participationTime" [ngbTooltip]="'aitpapiApp.activityParticipation.help.participationTime' | translate">Participation Time</label>
            <div class="d-flex">
                <input id="field_participationTime" type="datetime-local" class="form-control" name="participationTime" [(ngModel)]="activityParticipation.participationTime"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.activityParticipation.activity" for="field_activity">Activity</label>
            <select class="form-control" id="field_activity" name="activity" [(ngModel)]="activityParticipation.activityId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fitnessActivityOption.id" *ngFor="let fitnessActivityOption of fitnessactivities; trackBy: trackFitnessActivityById">{{fitnessActivityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
