
<div *ngIf="clockinSummary">
    <h2><span jhiTranslate="aitpapiApp.clockinSummary.detail.title">Clockin Summary</span> {{clockinSummary.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aitpapiApp.clockinSummary.wechatUserId" [ngbTooltip]="'aitpapiApp.clockinSummary.help.wechatUserId' | translate">Wechat User Id</span></dt>
        <dd>
            <span>{{clockinSummary.wechatUserId}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.clockinSummary.totallyCount" [ngbTooltip]="'aitpapiApp.clockinSummary.help.totallyCount' | translate">Totally Count</span></dt>
        <dd>
            <span>{{clockinSummary.totallyCount}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.clockinSummary.weeklyCount" [ngbTooltip]="'aitpapiApp.clockinSummary.help.weeklyCount' | translate">Weekly Count</span></dt>
        <dd>
            <span>{{clockinSummary.weeklyCount}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.clockinSummary.serialCount" [ngbTooltip]="'aitpapiApp.clockinSummary.help.serialCount' | translate">Serial Count</span></dt>
        <dd>
            <span>{{clockinSummary.serialCount}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.clockinSummary.lastClockInTime" [ngbTooltip]="'aitpapiApp.clockinSummary.help.lastClockInTime' | translate">Last Clock In Time</span></dt>
        <dd>
            <span>{{clockinSummary.lastClockInTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'clockin-summary/'+ clockinSummary.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
