<div>
    <h2 id="page-heading">
        <span>Event Messages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-message" [routerLink]="['/event-message/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Event Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="eventMessages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wechatUserId"><span>Wechat User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="avatar"><span>Avatar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nickName"><span>Nick Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="channel"><span>Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="objectId"><span>Object Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="objectTitle"><span>Object Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createTime"><span>Create Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventMessage of eventMessages ;trackBy: trackId">
                <td><a [routerLink]="['/event-message', eventMessage.id, 'view' ]">{{eventMessage.id}}</a></td>
                <td>{{eventMessage.wechatUserId}}</td>
                <td>{{eventMessage.avatar}}</td>
                <td>{{eventMessage.nickName}}</td>
                <td>{{eventMessage.type}}</td>
                <td>{{eventMessage.channel}}</td>
                <td>{{eventMessage.objectId}}</td>
                <td>{{eventMessage.objectTitle}}</td>
                <td>{{eventMessage.createTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/event-message', eventMessage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-message', eventMessage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-message/'+ eventMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="eventMessages && eventMessages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
