<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="thumbsUp">
            <h2><span>Thumbs Up</span> {{thumbsUp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="点赞对象id">Object Id</span></dt>
                <dd>
                    <span>{{thumbsUp.objectId}}</span>
                </dd>
                <dt><span ngbTooltip="点赞渠道">Channel</span></dt>
                <dd>
                    <span>{{thumbsUp.channel}}</span>
                </dd>
                <dt><span ngbTooltip="点赞模块">Module</span></dt>
                <dd>
                    <span>{{thumbsUp.module}}</span>
                </dd>
                <dt><span ngbTooltip="点赞人id">Wechat User Id</span></dt>
                <dd>
                    <span>{{thumbsUp.wechatUserId}}</span>
                </dd>
                <dt><span ngbTooltip="点赞人头像">Avatar</span></dt>
                <dd>
                    <span>{{thumbsUp.avatar}}</span>
                </dd>
                <dt><span ngbTooltip="点赞人昵称">Nick Name</span></dt>
                <dd>
                    <span>{{thumbsUp.nickName}}</span>
                </dd>
                <dt><span ngbTooltip="创建时间">Create Time</span></dt>
                <dd>
                    <span>{{thumbsUp.createTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/thumbs-up', thumbsUp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
