<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commentPic">
            <h2><span>Comment Pic</span> {{commentPic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="图片路径">Oss Path</span></dt>
                <dd>
                    <span>{{commentPic.ossPath}}</span>
                </dd>
                <dt><span>Create Time</span></dt>
                <dd>
                    <span>{{commentPic.createTime}}</span>
                </dd>
                <dt><span>Comment</span></dt>
                <dd>
                    <div *ngIf="commentPic.commentId">
                        <a [routerLink]="['/comment', commentPic.commentId, 'view']">{{commentPic.commentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment-pic', commentPic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
