
<div *ngIf="pinfanPics">
    <h2><span>Pinfan Pics</span> {{pinfanPics.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Oss Path</span></dt>
        <dd>
            <span>{{pinfanPics.ossPath}}</span>
        </dd>
        <dt><span>Create Time</span></dt>
        <dd>
            <span>{{pinfanPics.createTime | date:'medium'}}</span>
        </dd>
        <dt><span>Pin Fan Activity</span></dt>
        <dd>
            <div *ngIf="pinfanPics.pinFanActivityId">
                <a [routerLink]="['/pin-fan-activity', pinfanPics.pinFanActivityId]">{{pinfanPics.pinFanActivityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pinfan-pics/'+ pinfanPics.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
