<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-question-heading">Create or edit a Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!question.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="question.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_wechatUserId" ngbTooltip="提问人ID">Wechat User Id</label>
                    <input type="text" class="form-control" name="wechatUserId" id="field_wechatUserId"
                        [(ngModel)]="question.wechatUserId" maxlength="128"/>
                    <div [hidden]="!(editForm.controls.wechatUserId?.dirty && editForm.controls.wechatUserId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.wechatUserId?.errors?.maxlength">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nickName" ngbTooltip="提问人昵称">Nick Name</label>
                    <input type="text" class="form-control" name="nickName" id="field_nickName"
                        [(ngModel)]="question.nickName" maxlength="128"/>
                    <div [hidden]="!(editForm.controls.nickName?.dirty && editForm.controls.nickName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nickName?.errors?.maxlength">
                        This field cannot be longer than 128 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_avatar" ngbTooltip="提问人头像">Avatar</label>
                    <input type="text" class="form-control" name="avatar" id="field_avatar"
                        [(ngModel)]="question.avatar" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.avatar?.dirty && editForm.controls.avatar?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.avatar?.errors?.maxlength">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title" ngbTooltip="问题标题">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="question.title" maxlength="256"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.maxlength">
                        This field cannot be longer than 256 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description" ngbTooltip="问题描述">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="question.description" maxlength="1024"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength">
                        This field cannot be longer than 1024 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createTime" ngbTooltip="提问时间">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="createTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_answerCount" ngbTooltip="回答数">Answer Count</label>
                    <input type="number" class="form-control" name="answerCount" id="field_answerCount"
                        [(ngModel)]="question.answerCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_readingCount" ngbTooltip="浏览数">Reading Count</label>
                    <input type="number" class="form-control" name="readingCount" id="field_readingCount"
                        [(ngModel)]="question.readingCount" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
