<div>
    <h2>
        <span>Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/', { outlets: { popup: ['comment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentId"><span>Parent Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="objectId"><span>Object Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="channel"><span>Channel</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wechatUserId"><span>Wechat User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar"><span>Avatar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nickName"><span>Nick Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span>Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating1"><span>Rating 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating2"><span>Rating 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating3"><span>Rating 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span>Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifyTime"><span>Modify Time</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comment', comment.id ]">{{comment.id}}</a></td>
                <td>{{comment.parentId}}</td>
                <td>{{comment.objectId}}</td>
                <td>{{comment.channel}}</td>
                <td>{{comment.wechatUserId}}</td>
                <td>{{comment.avatar}}</td>
                <td>{{comment.nickName}}</td>
                <td>{{comment.content}}</td>
                <td>{{comment.rating1}}</td>
                <td>{{comment.rating2}}</td>
                <td>{{comment.rating3}}</td>
                <td>{{comment.createTime | date:'medium'}}</td>
                <td>{{comment.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comment', comment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="comments && comments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
