
<div *ngIf="comment">
    <h2><span>Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Parent Id</span></dt>
        <dd>
            <span>{{comment.parentId}}</span>
        </dd>
        <dt><span>Object Id</span></dt>
        <dd>
            <span>{{comment.objectId}}</span>
        </dd>
        <dt><span>Channel</span></dt>
        <dd>
            <span>{{comment.channel}}</span>
        </dd>
        <dt><span>Wechat User Id</span></dt>
        <dd>
            <span>{{comment.wechatUserId}}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <span>{{comment.avatar}}</span>
        </dd>
        <dt><span>Nick Name</span></dt>
        <dd>
            <span>{{comment.nickName}}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
            <span>{{comment.content}}</span>
        </dd>
        <dt><span>Rating 1</span></dt>
        <dd>
            <span>{{comment.rating1}}</span>
        </dd>
        <dt><span>Rating 2</span></dt>
        <dd>
            <span>{{comment.rating2}}</span>
        </dd>
        <dt><span>Rating 3</span></dt>
        <dd>
            <span>{{comment.rating3}}</span>
        </dd>
        <dt><span>Create Time</span></dt>
        <dd>
            <span>{{comment.createTime | date:'medium'}}</span>
        </dd>
        <dt><span>Modify Time</span></dt>
        <dd>
            <span>{{comment.modifyTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
