<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span>Message</span> {{message.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="接收人id">Wechat User Id</span></dt>
                <dd>
                    <span>{{message.wechatUserId}}</span>
                </dd>
                <dt><span ngbTooltip="是否读取">Read</span></dt>
                <dd>
                    <span>{{message.read}}</span>
                </dd>
                <dt><span>Event Message</span></dt>
                <dd>
                    <div *ngIf="message.eventMessageId">
                        <a [routerLink]="['/event-message', message.eventMessageId, 'view']">{{message.eventMessageId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
