<div>
    <h2 id="page-heading">
        <span>User Point Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-point-details" [routerLink]="['/user-point-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new User Point Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="userPointDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userid"><span>Userid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="applyTime"><span>Apply Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="changePoint"><span>Change Point</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eventType"><span>Event Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descript"><span>Descript</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="targetSystem"><span>Target System</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="handleBy"><span>Handle By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPoint"><span>Total Point</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validateString"><span>Validate String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createBy"><span>Create By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createTime"><span>Create Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifyBy"><span>Last Modify By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifyTime"><span>Last Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userPointDetails of userPointDetails ;trackBy: trackId">
                <td><a [routerLink]="['/user-point-details', userPointDetails.id, 'view' ]">{{userPointDetails.id}}</a></td>
                <td>{{userPointDetails.userid}}</td>
                <td>{{userPointDetails.applyTime | date:'medium'}}</td>
                <td>{{userPointDetails.changePoint}}</td>
                <td>{{userPointDetails.eventType}}</td>
                <td>{{userPointDetails.descript}}</td>
                <td>{{userPointDetails.targetSystem}}</td>
                <td>{{userPointDetails.handleBy}}</td>
                <td>{{userPointDetails.totalPoint}}</td>
                <td>{{userPointDetails.validateString}}</td>
                <td>{{userPointDetails.createBy}}</td>
                <td>{{userPointDetails.createTime | date:'medium'}}</td>
                <td>{{userPointDetails.lastModifyBy}}</td>
                <td>{{userPointDetails.lastModifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-point-details', userPointDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-point-details', userPointDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-point-details/'+ userPointDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userPointDetails && userPointDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
