<div>
    <h2>
        <span jhiTranslate="aitpapiApp.pinFanActivity.home.title">Pin Fan Activities</span>
        <button class="btn btn-primary float-right jh-create-entity create-pin-fan-activity" [routerLink]="['/', { outlets: { popup: ['pin-fan-activity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aitpapiApp.pinFanActivity.home.createLabel">
            Create new Pin Fan Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pinFanActivities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wechatUserId"><span jhiTranslate="aitpapiApp.pinFanActivity.wechatUserId">Wechat User Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userName"><span jhiTranslate="aitpapiApp.pinFanActivity.userName">User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nickName"><span jhiTranslate="aitpapiApp.pinFanActivity.nickName">Nick Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activitiyType"><span jhiTranslate="aitpapiApp.pinFanActivity.activitiyType">Activitiy Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activitiyTile"><span jhiTranslate="aitpapiApp.pinFanActivity.activitiyTile">Activitiy Tile</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="budget"><span jhiTranslate="aitpapiApp.pinFanActivity.budget">Budget</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="activitiyAddre"><span jhiTranslate="aitpapiApp.pinFanActivity.activitiyAddre">Activitiy Addre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descrption"><span jhiTranslate="aitpapiApp.pinFanActivity.descrption">Descrption</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="organizeUser"><span jhiTranslate="aitpapiApp.pinFanActivity.organizeUser">Organize User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="coverPicture"><span jhiTranslate="aitpapiApp.pinFanActivity.coverPicture">Cover Picture</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appointDatetime"><span jhiTranslate="aitpapiApp.pinFanActivity.appointDatetime">Appoint Datetime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="appointEndDatetime"><span jhiTranslate="aitpapiApp.pinFanActivity.appointEndDatetime">Appoint End Datetime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="salerUrl"><span jhiTranslate="aitpapiApp.pinFanActivity.salerUrl">Saler Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lowerLimit"><span jhiTranslate="aitpapiApp.pinFanActivity.lowerLimit">Lower Limit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="upperLimit"><span jhiTranslate="aitpapiApp.pinFanActivity.upperLimit">Upper Limit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="payType"><span jhiTranslate="aitpapiApp.pinFanActivity.payType">Pay Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deadline"><span jhiTranslate="aitpapiApp.pinFanActivity.deadline">Deadline</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="aitpapiApp.pinFanActivity.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isActive"><span jhiTranslate="aitpapiApp.pinFanActivity.isActive">Is Active</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pinFanActivity of pinFanActivities ;trackBy: trackId">
                <td><a [routerLink]="['../pin-fan-activity', pinFanActivity.id ]">{{pinFanActivity.id}}</a></td>
                <td>{{pinFanActivity.wechatUserId}}</td>
                <td>{{pinFanActivity.userName}}</td>
                <td>{{pinFanActivity.nickName}}</td>
                <td>{{pinFanActivity.activitiyType}}</td>
                <td>{{pinFanActivity.activitiyTile}}</td>
                <td>{{pinFanActivity.budget}}</td>
                <td>{{pinFanActivity.activitiyAddre}}</td>
                <td>{{pinFanActivity.descrption}}</td>
                <td>{{pinFanActivity.organizeUser}}</td>
                <td>{{pinFanActivity.coverPicture}}</td>
                <td>{{pinFanActivity.appointDatetime | date:'medium'}}</td>
                <td>{{pinFanActivity.appointEndDatetime | date:'medium'}}</td>
                <td>{{pinFanActivity.salerUrl}}</td>
                <td>{{pinFanActivity.lowerLimit}}</td>
                <td>{{pinFanActivity.upperLimit}}</td>
                <td>{{pinFanActivity.payType}}</td>
                <td>{{pinFanActivity.deadline | date:'medium'}}</td>
                <td>{{pinFanActivity.comment}}</td>
                <td>{{pinFanActivity.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pin-fan-activity', pinFanActivity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pin-fan-activity/'+ pinFanActivity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pin-fan-activity/'+ pinFanActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pinFanActivities && pinFanActivities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
