<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPinFanActivityLabel" jhiTranslate="aitpapiApp.pinFanActivity.home.createOrEditLabel">Create or edit a Pin Fan Activity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pinFanActivity.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pinFanActivity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.wechatUserId" for="field_wechatUserId" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.wechatUserId' | translate">Wechat User Id</label>
            <input type="text" class="form-control" name="wechatUserId" id="field_wechatUserId"
                [(ngModel)]="pinFanActivity.wechatUserId" maxlength="128"/>
            <div [hidden]="!(editForm.controls.wechatUserId?.dirty && editForm.controls.wechatUserId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wechatUserId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.avatar" for="field_avatar" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.avatar' | translate">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                [(ngModel)]="pinFanActivity.avatar" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.avatar?.dirty && editForm.controls.avatar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.avatar?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.nickName" for="field_nickName" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.nickName' | translate">Nick Name</label>
            <input type="text" class="form-control" name="nickName" id="field_nickName"
                [(ngModel)]="pinFanActivity.nickName" maxlength="128"/>
            <div [hidden]="!(editForm.controls.nickName?.dirty && editForm.controls.nickName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.activitiyType" for="field_activitiyType" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.activitiyType' | translate">Activitiy Type</label>
            <input type="number" class="form-control" name="activitiyType" id="field_activitiyType"
                [(ngModel)]="pinFanActivity.activitiyType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.activitiyTile" for="field_activitiyTile" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.activitiyTile' | translate">Activitiy Tile</label>
            <input type="text" class="form-control" name="activitiyTile" id="field_activitiyTile"
                [(ngModel)]="pinFanActivity.activitiyTile" maxlength="128"/>
            <div [hidden]="!(editForm.controls.activitiyTile?.dirty && editForm.controls.activitiyTile?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activitiyTile?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.budget" for="field_budget" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.budget' | translate">Budget</label>
            <input type="number" class="form-control" name="budget" id="field_budget"
                [(ngModel)]="pinFanActivity.budget" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.activitiyAddre" for="field_activitiyAddre" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.activitiyAddre' | translate">Activitiy Addre</label>
            <input type="text" class="form-control" name="activitiyAddre" id="field_activitiyAddre"
                [(ngModel)]="pinFanActivity.activitiyAddre" maxlength="2048"/>
            <div [hidden]="!(editForm.controls.activitiyAddre?.dirty && editForm.controls.activitiyAddre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activitiyAddre?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2048 }">
                   This field cannot be longer than 2048 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.descrption" for="field_descrption" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.descrption' | translate">Descrption</label>
            <input type="text" class="form-control" name="descrption" id="field_descrption"
                [(ngModel)]="pinFanActivity.descrption" maxlength="128"/>
            <div [hidden]="!(editForm.controls.descrption?.dirty && editForm.controls.descrption?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descrption?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.organizeUser" for="field_organizeUser" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.organizeUser' | translate">Organize User</label>
            <input type="text" class="form-control" name="organizeUser" id="field_organizeUser"
                [(ngModel)]="pinFanActivity.organizeUser" maxlength="128"/>
            <div [hidden]="!(editForm.controls.organizeUser?.dirty && editForm.controls.organizeUser?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.organizeUser?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.coverPicture" for="field_coverPicture" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.coverPicture' | translate">Cover Picture</label>
            <input type="text" class="form-control" name="coverPicture" id="field_coverPicture"
                [(ngModel)]="pinFanActivity.coverPicture" maxlength="128"/>
            <div [hidden]="!(editForm.controls.coverPicture?.dirty && editForm.controls.coverPicture?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.coverPicture?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.appointDatetime" for="field_appointDatetime" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.appointDatetime' | translate">Appoint Datetime</label>
            <div class="d-flex">
                <input id="field_appointDatetime" type="datetime-local" class="form-control" name="appointDatetime" [(ngModel)]="pinFanActivity.appointDatetime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.appointEndDatetime" for="field_appointEndDatetime" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.appointEndDatetime' | translate">Appoint End Datetime</label>
            <div class="d-flex">
                <input id="field_appointEndDatetime" type="datetime-local" class="form-control" name="appointEndDatetime" [(ngModel)]="pinFanActivity.appointEndDatetime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.salerUrl" for="field_salerUrl" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.salerUrl' | translate">Saler Url</label>
            <input type="text" class="form-control" name="salerUrl" id="field_salerUrl"
                [(ngModel)]="pinFanActivity.salerUrl" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.salerUrl?.dirty && editForm.controls.salerUrl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.salerUrl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.lowerLimit" for="field_lowerLimit" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.lowerLimit' | translate">Lower Limit</label>
            <input type="number" class="form-control" name="lowerLimit" id="field_lowerLimit"
                [(ngModel)]="pinFanActivity.lowerLimit" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.upperLimit" for="field_upperLimit" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.upperLimit' | translate">Upper Limit</label>
            <input type="number" class="form-control" name="upperLimit" id="field_upperLimit"
                [(ngModel)]="pinFanActivity.upperLimit" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.payType" for="field_payType" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.payType' | translate">Pay Type</label>
            <input type="text" class="form-control" name="payType" id="field_payType"
                [(ngModel)]="pinFanActivity.payType" maxlength="32"/>
            <div [hidden]="!(editForm.controls.payType?.dirty && editForm.controls.payType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.payType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 32 }">
                   This field cannot be longer than 32 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.deadline" for="field_deadline" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.deadline' | translate">Deadline</label>
            <div class="d-flex">
                <input id="field_deadline" type="datetime-local" class="form-control" name="deadline" [(ngModel)]="pinFanActivity.deadline"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.comment" for="field_comment" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.comment' | translate">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="pinFanActivity.comment" maxlength="500"/>
            <div [hidden]="!(editForm.controls.comment?.dirty && editForm.controls.comment?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comment?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                   This field cannot be longer than 500 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.pinFanActivity.status" for="field_status" [ngbTooltip]="'aitpapiApp.pinFanActivity.help.status' | translate">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                [(ngModel)]="pinFanActivity.status" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
