
<div *ngIf="recipe">
    <h2><span jhiTranslate="aitpapiApp.recipe.detail.title">Recipe</span> {{recipe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aitpapiApp.recipe.wechatUserId" [ngbTooltip]="'aitpapiApp.recipe.help.wechatUserId' | translate">Wechat User Id</span></dt>
        <dd>
            <span>{{recipe.wechatUserId}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.title">Title</span></dt>
        <dd>
            <span>{{recipe.title}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.content">Content</span></dt>
        <dd>
            <span>{{recipe.content}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.startTime">Start Time</span></dt>
        <dd>
            <span>{{recipe.startTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.endTime">End Time</span></dt>
        <dd>
            <span>{{recipe.endTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.price">Price</span></dt>
        <dd>
            <span>{{recipe.price}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.num">Num</span></dt>
        <dd>
            <span>{{recipe.num}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.status">Status</span></dt>
        <dd>
            <span>{{recipe.status}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.publishVersion">Publish Version</span></dt>
        <dd>
            <span>{{recipe.publishVersion}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.hot">Hot</span></dt>
        <dd>
            <span>{{recipe.hot}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.createTime">Create Time</span></dt>
        <dd>
            <span>{{recipe.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.recipe.modifyTime">Modify Time</span></dt>
        <dd>
            <span>{{recipe.modifyTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recipe/'+ recipe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
