
<div *ngIf="activityParticipation">
    <h2><span>Activity Participation</span> {{activityParticipation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Wechat User Id</span></dt>
        <dd>
            <span>{{activityParticipation.wechatUserId}}</span>
        </dd>
        <dt><span>Nick Name</span></dt>
        <dd>
            <span>{{activityParticipation.nickName}}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <span>{{activityParticipation.avatar}}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <span>{{activityParticipation.project}}</span>
        </dd>
        <dt><span>Participation Time</span></dt>
        <dd>
            <span>{{activityParticipation.participationTime | date:'medium'}}</span>
        </dd>
        <dt><span>Activity</span></dt>
        <dd>
            <div *ngIf="activityParticipation.activityId">
                <a [routerLink]="['/fitness-activity', activityParticipation.activityId]">{{activityParticipation.activityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activity-participation/'+ activityParticipation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
