
<div *ngIf="rates">
    <h2><span jhiTranslate="aitpapiApp.rates.detail.title">Rates</span> {{rates.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aitpapiApp.rates.comments">Comments</span></dt>
        <dd>
            <span>{{rates.comments}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.rates.rating">Rating</span></dt>
        <dd>
            <span>{{rates.rating}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.rates.createTime">Create Time</span></dt>
        <dd>
            <span>{{rates.createTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.rates.modifyTime">Modify Time</span></dt>
        <dd>
            <span>{{rates.modifyTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="aitpapiApp.rates.pinFanActivity">Pin Fan Activity</span></dt>
        <dd>
            <div *ngIf="rates.pinFanActivityId">
                <a [routerLink]="['/pin-fan-activity', rates.pinFanActivityId]">{{rates.pinFanActivityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rates/'+ rates.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
