<div>
    <h2>
        <span jhiTranslate="aitpapiApp.rates.home.title">Rates</span>
        <button class="btn btn-primary float-right jh-create-entity create-rates" [routerLink]="['/', { outlets: { popup: ['rates-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aitpapiApp.rates.home.createLabel">
            Create new Rates
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="aitpapiApp.rates.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating"><span jhiTranslate="aitpapiApp.rates.rating">Rating</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createTime"><span jhiTranslate="aitpapiApp.rates.createTime">Create Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="aitpapiApp.rates.modifyTime">Modify Time</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pinFanActivityId"><span jhiTranslate="aitpapiApp.rates.pinFanActivity">Pin Fan Activity</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rates of rates ;trackBy: trackId">
                <td><a [routerLink]="['../rates', rates.id ]">{{rates.id}}</a></td>
                <td>{{rates.comments}}</td>
                <td>{{rates.rating}}</td>
                <td>{{rates.createTime | date:'medium'}}</td>
                <td>{{rates.modifyTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="rates.pinFanActivityId">
                        <a [routerLink]="['../pin-fan-activity', rates.pinFanActivityId  ]" >{{rates.pinFanActivityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rates', rates.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rates/'+ rates.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rates/'+ rates.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rates && rates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
