<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRatesLabel" jhiTranslate="aitpapiApp.rates.home.createOrEditLabel">Create or edit a Rates</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rates.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rates.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.wechatUserId" for="field_wechatUserId" [ngbTooltip]="'aitpapiApp.rates.help.wechatUserId' | translate">Wechat User Id</label>
            <input type="text" class="form-control" name="wechatUserId" id="field_wechatUserId"
                [(ngModel)]="rates.wechatUserId" maxlength="128"/>
            <div [hidden]="!(editForm.controls.wechatUserId?.dirty && editForm.controls.wechatUserId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.wechatUserId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.avatar" for="field_avatar" [ngbTooltip]="'aitpapiApp.rates.help.avatar' | translate">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                [(ngModel)]="rates.avatar" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.avatar?.dirty && editForm.controls.avatar?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.avatar?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.nickName" for="field_nickName" [ngbTooltip]="'aitpapiApp.rates.help.nickName' | translate">Nick Name</label>
            <input type="text" class="form-control" name="nickName" id="field_nickName"
                [(ngModel)]="rates.nickName" maxlength="128"/>
            <div [hidden]="!(editForm.controls.nickName?.dirty && editForm.controls.nickName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nickName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                [(ngModel)]="rates.comments" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.comments?.dirty && editForm.controls.comments?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comments?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="rates.rating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="rates.createTime"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.modifyTime" for="field_modifyTime">Modify Time</label>
            <div class="d-flex">
                <input id="field_modifyTime" type="datetime-local" class="form-control" name="modifyTime" [(ngModel)]="rates.modifyTime"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aitpapiApp.rates.pinFanActivity" for="field_pinFanActivity">Pin Fan Activity</label>
            <select class="form-control" id="field_pinFanActivity" name="pinFanActivity" [(ngModel)]="rates.pinFanActivity" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pinFanActivityOption.id === rates.pinFanActivity?.id ? rates.pinFanActivity : pinFanActivityOption" *ngFor="let pinFanActivityOption of pinfanactivities; trackBy: trackPinFanActivityById">{{pinFanActivityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
