
<div *ngIf="pinFanActivity">
    <h2><span>Pin Fan Activity</span> {{pinFanActivity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Wechat User Id</span></dt>
        <dd>
            <span>{{pinFanActivity.wechatUserId}}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <span>{{pinFanActivity.avatar}}</span>
        </dd>
        <dt><span>Nick Name</span></dt>
        <dd>
            <span>{{pinFanActivity.nickName}}</span>
        </dd>
        <dt><span>Activitiy Type</span></dt>
        <dd>
            <span>{{pinFanActivity.activitiyType}}</span>
        </dd>
        <dt><span>Activitiy Tile</span></dt>
        <dd>
            <span>{{pinFanActivity.activitiyTile}}</span>
        </dd>
        <dt><span>Budget</span></dt>
        <dd>
            <span>{{pinFanActivity.budget}}</span>
        </dd>
        <dt><span>Activitiy Addre</span></dt>
        <dd>
            <span>{{pinFanActivity.activitiyAddre}}</span>
        </dd>
        <dt><span>Descrption</span></dt>
        <dd>
            <span>{{pinFanActivity.descrption}}</span>
        </dd>
        <dt><span>Organize User</span></dt>
        <dd>
            <span>{{pinFanActivity.organizeUser}}</span>
        </dd>
        <dt><span>Cover Picture</span></dt>
        <dd>
            <span>{{pinFanActivity.coverPicture}}</span>
        </dd>
        <dt><span>Appoint Datetime</span></dt>
        <dd>
            <span>{{pinFanActivity.appointDatetime | date:'medium'}}</span>
        </dd>
        <dt><span>Appoint End Datetime</span></dt>
        <dd>
            <span>{{pinFanActivity.appointEndDatetime | date:'medium'}}</span>
        </dd>
        <dt><span>Saler Url</span></dt>
        <dd>
            <span>{{pinFanActivity.salerUrl}}</span>
        </dd>
        <dt><span>Lower Limit</span></dt>
        <dd>
            <span>{{pinFanActivity.lowerLimit}}</span>
        </dd>
        <dt><span>Upper Limit</span></dt>
        <dd>
            <span>{{pinFanActivity.upperLimit}}</span>
        </dd>
        <dt><span>Pay Type</span></dt>
        <dd>
            <span>{{pinFanActivity.payType}}</span>
        </dd>
        <dt><span>Deadline</span></dt>
        <dd>
            <span>{{pinFanActivity.deadline | date:'medium'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{pinFanActivity.comment}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{pinFanActivity.status}}</span>
        </dd>
        <dt><span>Comment Count</span></dt>
        <dd>
            <span>{{pinFanActivity.commentCount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pin-fan-activity/'+ pinFanActivity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
