
<div *ngIf="attendee">
    <h2><span>Attendee</span> {{attendee.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Wechat User Id</span></dt>
        <dd>
            <span>{{attendee.wechatUserId}}</span>
        </dd>
        <dt><span>Nick Name</span></dt>
        <dd>
            <span>{{attendee.nickName}}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <span>{{attendee.avatar}}</span>
        </dd>
        <dt><span>Participation Time</span></dt>
        <dd>
            <span>{{attendee.participationTime | date:'medium'}}</span>
        </dd>
        <dt><span>Activitiy Tile</span></dt>
        <dd>
            <span>{{attendee.activitiyTile}}</span>
        </dd>
        <dt><span>Pin Fan Activity</span></dt>
        <dd>
            <div *ngIf="attendee.pinFanActivityId">
                <a [routerLink]="['/pin-fan-activity', attendee.pinFanActivityId]">{{attendee.pinFanActivityId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attendee/'+ attendee.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
